.text-center{
    text-align: center;
}

.main-body{
    margin-top: 80px;
}

.user {
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 2px solid grey;
    color: black;
    background-color: lightblue;
}

.header{
    width: 100%;
    height: 50px;
    background: darkblue;
    color: white;
    font-size: 30px;
    margin-bottom: 15px;
    padding: 10px 20px;
    display: inline-flex;
    position: fixed;
    top:0px;
}

.footer{
    width: 100%;
    height: 50px;
    background: darkblue;
    color: white;
    font-size: 30px;
    padding: 10px 20px;
    display: inline-flex;
    position: fixed;
    bottom:0px;
}

.icon-header{
    width: 20%;
    border: 2px solid white;
    text-align: center;
}

.title{
    width: 60%;
    text-align: center; 
}

.footer .icon-header{
    width: 10%;
    border: 2px solid white;
    text-align: center;
}